root {
    display: block;
}
.root {
    -fx-pref-width: 800px;
    -fx-pref-height: 400px;
    -fx-background-image: url(../../../images/woodTexture1.jpg);
        -fx-border-color: #ff8000;
        -fx-border-width: 3 2 2 2;
}
.vbox {
    -fx-background-image: url(../../../images/scoreBoard.png);
    -fx-background-size: 90% 30%;
    -fx-background-position: 0% 5%;
    -fx-background-repeat: stretch;
}
#scoreboard-text {
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 19px;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.scoreboard-subtext {
    -fx-font-size: 17px;
    -fx-fill: white;
    -fx-padding-insets: 5px 0px 5px 0px;
/*    -fx-border-color:black;
    -fx-border-width: 2 0 0 0;*/
}
.grid {
    -fx-grid-lines-visible: true;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#button1, #button2, #button3,
#button4, #button5, #button6,
#button7, #button8, #button9 {
/*    -fx-background-color: linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);*/
    -fx-background-image: url(../../../images/woodTexture2.jpg);
    -fx-background-size: 100% 100%;
    -fx-background-radius:0;
/*    -fx-border-color:#1e0d00;*/
    -fx-border-width: 2 2 2 2;
    -fx-background-insets: 0;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}
/*When a button on the grid is pressed it highlights the cell*/
/*#button1:pressed, #button2:pressed, #button3:pressed,
#button4:pressed, #button5:pressed, #button6:pressed,
#button7:pressed, #button8:pressed, #button9:pressed {
    -fx-background-color: transparent, linear-gradient(#2A5058, #61a2b1);
        -fx-background-image: url('https://pngimg.com/uploads/letter_o/letter_o_PNG64.png');
        -fx-background-image: none;*//*
    -fx-background-size: 40% 40%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
        -fx-background-color: transparent;
}*/
/*When hovering over a button with action, the button lights up blue*/
.action-button {
    -fx-background-image: url(../../../images/buttonTexture.png);
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}
.action-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
